.pagination {
  border: 1px solid $gray;
  display: flex;
  align-items: center;
  &__item {
    border-right: 1px solid $gray;
    width: 3.75rem;
    height: 3.75rem;
    a {
      display: block;
      font-size: 1.25rem;
      padding: 1.125rem;
      text-align: center;
      color:$primary;
    }
  }
  &__item:last-of-type {
    border-right: none;
  }
}