.pagination {
  display: flex;
  align-items: center;
  &__item {
    border: 1px solid $gray;
    border-right: none;
    width: 3.75rem;
    height: 3.75rem;
    &:hover {
      background-color: $secondary;
    }
    &:last-of-type {
      border: 1px solid $gray;
    }
    a {
      display: block;
      font-size: 1.25rem;
      padding: 1.125rem;
      text-align: center;
      color:$primary;
    }
  }
  &__item--acitve {
    background-color: $primary;
    &:hover {
      a {
        color: $primary;
      }
    }
    a {
      color: white;
    }
  }
}